$root-background: #0d1017;

$primary: #161b21;
$secondary: #21262c;

$text-light: #d1d1ca;
$text-dark: #8b949e;
$text-emphasis: #58a6ff;

$success: #238636;
$failure: #f78166;
$active: #58a6ff;

$transition-speed: 1s;
