@import './variables';

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    color: $text-light;
    width: 100%;
    text-align: center;
}

.login {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    background-color: $primary;
    border: 7px solid $secondary;
    color: $text-light;
    cursor: auto;

    transition: border 0.3s ease-in-out;

    &:hover {
        border: 7px solid $active;
    }
}