@import "../variables";

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding: 0;
    margin: 0;
    padding-bottom: 10vh;

    color: $text-light;
    background-color: $root-background;
    animation: 0.3s fade ease-in-out forwards;
    overflow: auto;

    & * {
        margin: 0;
    }
}

.tabGroup {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;

    width: 100%;
    height: 40px;
    background-color: $primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & > button {
        height: 100%;
        width: 75px;
        

        border: none;
        background-color: transparent;
        color: $text-light;
        pointer-events: all;

        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $failure;
            color: $text-light;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}